<%- include("partials/header") %> 

<%- include("partials/navbar") %> 

    <div class="msg-box" data-toggle="tooltip" data-placement="top" title="We are always happy to talk to you. Click the button if you need assistance.">
        <% if(auth) { %>
            <img src="images/msg-icon.svg" alt="" style="width: 30px;" data-toggle="modal" data-target="#chatbox">
        <% } else { %>
            <a href="/login">
                <img src="images/msg-icon.svg" alt="" style="width: 30px;">
            </a>
        <% } %>
    </div>

    <div class="section1">
        <div class="overlay"></div>
        <h1 style="text-shadow: 10px 5px lightpink;">LIFESTYLE</h1>
        <h3 style="color: black; position: relative; font-weight: 900;">MAKE IT YOUR WAY</h3>
    </div>

    <div class="section2" id="trending">
        <div class="container">
            <div class="sec2-head">
                <h1>Trending</h1>
                <h2>TRENDING</h2>
            </div>
            <div class="row">
                <% var i = 0; %>
                <% product.forEach((doc) => { %>
                    <% if (i < 3){ %>
                        <div class="col-lg-4" style="margin-bottom: 10px;">
                            <a href="/product/<%= doc._id %>">
                                <div class="card">
                                    <div class="card-img-top">
                                        <img src="images/<%= doc.image %>" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h3 style="text-transform: uppercase;"><%= doc.title %></h3>
                                        <div class="cont">
                                            <p>$<%= doc.price %></p>
                                            <div class="rating">
                                                <span>✩</span>
                                                <span>✩</span>
                                                <span>✩</span>
                                                <span>✩</span>
                                                <span>✩</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% i = i+1; } %>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="section3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="images/about.jpg" alt="" style="width: -webkit-fill-available;">
                </div>
                <div class="col-lg-7" style="padding: 50px 20px;">
                    <h1>MAKEUP ONLINE COSMETICS SHOP</h1>
                    <br>
                    <p style="color: gray; line-height: 1.8; font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, odio ab? Cum eveniet, adipisci fugit aliquam fugiat porro voluptas laudantium placeat quasi laborum! Veniam nihil iste dignissimos commodi corporis. Ratione repellat eveniet dolorem, quo molestias ea reiciendis. Vitae obcaecati optio natus aliquid at temporibus suscipit quo, non impedit praesentium. <br><br> Fuga totam incidunt, reprehenderit adipisci earum mollitia sequi maiores odio ipsa magnam nostrum molestias quis iste. Eum omnis voluptates saepe quasi nihil atque quaerat delectus similique. Ex sint, non quo sed nisi doloremque cupiditate corporis cum provident vitae fugiat repudiandae magnam fugit dignissimos velit, incidunt quisquam, sapiente totam eligendi alias? Nihil.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section4 bg-light">
        <div class="container">
            <div class="sec2-head">
                <h1>Products</h1>
                <h2>PRODUCTS</h2>
            </div>
            
            <div class="row">
                <% product.forEach((doc) => { %>
                    <div class="col-lg-3" style="margin-bottom: 10px;">
                        <a href="/product/<%= doc._id %>">
                            <div class="card">
                                <div class="card-img-top">
                                    <img src="images/<%= doc.image %>" alt="">
                                </div>
                                <div class="card-body">
                                    <h3 style="text-transform: uppercase;"><%= doc.title %></h3>
                                    <div class="cont">
                                        <p>$<%= doc.price %></p>
                                        <div class="rating">
                                            <span>✩</span>
                                            <span>✩</span>
                                            <span>✩</span>
                                            <span>✩</span>
                                            <span>✩</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="section5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="count c-1">0+</h3>
                    <p>Happy Customers</p>
                </div>
                <div class="col-lg-4">
                    <h3 class="count c-2">0+</h3>
                    <p>Branches</p>
                </div>
                <div class="col-lg-4">
                    <h3 class="count c-3">0+</h3>
                    <p>Awards</p>
                </div>
            </div>
        </div>
    </div>

<% if(auth == "true"){ %>

<!-- Chatbox -->

<div class="modal fade" id = "chatbox" role = "dialog" style="padding-right: 0; padding-left: 0;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title col-12" style="position: relative;"> Chat <span style="color: gray; position: absolute; right: 10px; font-size: 18px; top: 10px; cursor: pointer;" onclick="$('#chatbox').modal('hide')">X</span></h3>
            </div>
            <div class="bg-light" id="messages" style="min-height: 400px; max-height: 400px; overflow-y: auto;">
                <div class="reverse-order" style="padding: 0 10px;">
                    
                </div>
            </div>
            <form id="chatbox-input" action="/message" method="POST" autocomplete="off">
                <a id="send-message">Send</a>
                <textarea name="chat" id="chat" class="form-control" placeholder="Type your message here"></textarea>
            </form>
            <div class="form-id" style="display: none;"><%= id %></div>
        </div>
    </div>
</div>

<!-- Chatbox -->

<% } %>

<%- include("partials/footer") %> 

<style>
    
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: gray; 
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: black; 
    }

    /* chat */

    #chat{
        border-top: 2px solid gray;
        padding-right: 50px;
    }
    #send-message{
        position: absolute; 
        right: 20px; 
        margin-top: 10px; 
        text-decoration: none; 
        color: #007bff; 
        cursor: pointer;
    }
    .user-message{
        display: block;
        overflow-wrap: break-word;
        background-color: rgb(240, 240, 240);
        white-space: pre-line;
        margin-left: auto;
        margin-bottom: 0;
        border-radius: 20px;
        width: fit-content;
        max-width: 60%;
        margin-bottom: 7px;
        padding: 8px 15px;
    }
    .admin-message{
        display: block;
        overflow-wrap: break-word;
        background-color: rgb(216, 216, 216);
        white-space: pre-line;
        width: fit-content;
        max-width: 60%;
        border-radius: 20px;
        margin-bottom: 7px;
        padding: 8px 15px;
    }
    #chatbox ::-webkit-scrollbar {
        width: 5px;
    }
    #chatbox ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
    }
    
    #messages{
        display: flex; 
        flex-direction: column-reverse;
        width: 100%;
        margin-left: auto;
    }

    /* chat */

    body{
        font-family: "Lato", Arial, sans-serif;
    }
    .row {
        margin: 0;
    }
    .msg-box {
        background-color: lightblue;
        position: fixed;
        padding: 20px;
        border-radius: 100%;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }
    .msg-box:hover {
        box-shadow: 0 0 10px 5px lightblue;
        cursor: pointer;
    }
    .section1 {
        height: 100vh;
        background:  url("/images/sec1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .6;
        width: 50%;
        background: #f1b8c4;
    }
    .section1 h1 {
        font-family: "Roboto Condensed", Arial, sans-serif;
        font-weight: 700;
        font-size: 120px;
        text-transform: uppercase;
        position: relative;
    }
    .section2, .section4 {
        padding: 120px 0;
    }
    .sec2-head {
        position: relative;
        text-align: center;
        margin-bottom: 100px;
    }
    .sec2-head h1 {
        position: absolute;
        left: 0;
        right: 0;
        top: -90px;
        font-size: 150px;
        color: rgba(0, 0, 0, 0.06);
        font-weight: 900;
        letter-spacing: 1px;
    }
    .sec2-head h2 {
        font-family: "Roboto Condensed", Arial, sans-serif;
        font-weight: 400;
        letter-spacing: 5px;
    }

    .section4 .card, .section2 .card {
        border: 0;
    }
    .section4 a, .section2 a {
        color: black;
    }
    .section4 a:hover, .section2 a:hover {
        text-decoration: none;
    }
    .section4 .card:hover, .section2 .card:hover {
        box-shadow: 0 0 10px 5px lightpink;
        transition: 0.5s;
    }
    .section4 .card-img-top, .section2 .card-img-top {
        max-height: 400px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .section4 .card-img-top img, .section2 .card-img-top img {
        width: -webkit-fill-available;
    }
    .section4 .cont, .section2 .cont {
        display: flex;
    }
    .section4 .rating, .section2 .rating {
        margin-left: auto;
    }
    .section4 .card h3, .section2 .card h3 {
        font-size: 16px;
        font-weight: 300;
    }
    .section4, .section2 p {
        margin-bottom: 0;
    }

    .section5 {
        padding-top: 50px;
    }
    .section5 .col-lg-4 {
        text-align: center;
    }

    @media(max-width: 765px){
        .section1 h1{
            font-size: 60px!important;
        }
        .sec2-head h1{
            display: none!important;
        }
        .navbar {
            top: 0!important;
        }
        .navbar .container {
            padding: 10px 20px!important;
        }
    }
</style>

<script>
    var flag = false;
    $(window).scroll(function() {
        if(!flag){
            var scrolltop = $(this).scrollTop() + $(window).height();
            if($(".section5").offset().top < scrolltop) {    
                flag = true;        
                var i=0;
                var refreshid = setInterval(function() {
                    $(".c-1").text(i)
                    i++;
                    if(i >= 1001){
                        clearInterval(refreshid)
                    }
                }, 0.5)
                var j=0;
                var refreshid2 = setInterval(function() {
                    $(".c-2").text(j)
                    j++;
                    if(j >= 101){
                        clearInterval(refreshid2)
                    }
                }, 30)
                var k=0;
                var refreshid3 = setInterval(function() {
                    $(".c-3").text(k)
                    k++;
                    if(k >= 51){
                        clearInterval(refreshid3)
                    }
                }, 50)
            }
        }
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script type="module">

    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
    import { getDatabase, ref, set, onValue , query, orderByKey, orderByChild, onChildAdded, update } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-database.js";

    const firebaseConfig = {
      apiKey: "AIzaSyBRL4xl-vh_B2NBcM9WLEBxmo94Fu85p_4",
      authDomain: "prodigi-f043a.firebaseapp.com",
      projectId: "prodigi-f043a",
      storageBucket: "prodigi-f043a.appspot.com",
      messagingSenderId: "666489036407",
      appId: "1:666489036407:web:be1e36d31e64aefd04b072",
      measurementId: "G-VYGXJQ5CBY",
      databaseURL: "https://prodigi-f043a-default-rtdb.asia-southeast1.firebasedatabase.app"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    
    const db = getDatabase()
    var id = $(".form-id").text()

    const a = query(ref(db, 'Messages/' + id), orderByKey());
    onChildAdded(a, (snap) => {
        const d = snap.val()
        if(d["from"] == "user") {
            $("<div class='user-message'>" + d["message"] + "</div>").appendTo(".reverse-order")
        } else if (d["from"] == "admin") {
            $("<div class='admin-message'>" + d["message"] + "</div>").appendTo(".reverse-order")
        }
    })

    $("#send-message").click(function() {
        var text = $("#chat").val()

        if(text.trim() != "" && id.trim() != ""){
            set(ref(db, 'Messages/' + id + "/" + Date.now()), {
                message: text,
                from: "user"
            })
            update(ref(db, 'Messages/' + id + "/"), {
                time: Date.now()
            })
            $("#chat").val("")
        }
    })
</script>